body {
    background-image: url(background-processing.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}